*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* main colors */
  --ontech-blue-0: #033864;
  --ontech-blue-1: #053c61;
  --ontech-blue-2: #06405e;
  --ontech-blue-3: #084858;
  --ontech-bluegreen-0: #0b5052;
  --ontech-bluegreen-1: #0d584c;
  --ontech-green-0: #126840;
  --ontech-green-1: #15703a;
  --ontech-green-2: #167437;
  --ontech-green-3: #177734;
  /* other colors */
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 20%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn {
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn i {
  font-size: 1.3rem;
  color: #25d366;
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--clr-white);
  color: var(--clr-secondary);
}
/*
==============
NAVBAR/HEADER
==============
*/

nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 65px;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 9rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--ontech-blue-0);
    transition: var(--transition);
    font-size: 2rem;
  }
  .social-icons a:hover {
    color: var(--ontech-green-3);
  }
}
.language {
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  margin-right: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.language img {
  width: 1.2rem;
}
.language img:hover {
  border: 1px solid white;
}

/* 
=======
BANNER
=======
*/
.banner {
  background: linear-gradient(rgba(5, 60, 97, 0.5), rgba(23, 119, 52, 0.7)),
    url(./pexels-artem-podrez-5726794.jpg) center/cover no-repeat;
}
.banner {
  min-height: 90vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container h1 {
  color: hsl(360, 67%, 58%);
}
.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
.bannerh1 {
  display: block;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
}

/* 
=========
SECTIONS
=========
*/
section {
  padding: 0 5em;
  margin: 5em;
}
.about-article {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
.services-article {
  display: flex;
  justify-content: center;
  margin: 10em 0;
}
.articlep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45rem;
  min-width: 35rem;
}
.articlep h2 {
  text-align: center;
}
.article1span1 {
  color: var(--ontech-blue-1);
  font-weight: bold;
}
.article1span2 {
  display: block;
  margin-top: 1em;
}
.article1span2 a {
  color: var(--ontech-green-3);
}
.article1span2 a:hover {
  text-decoration: underline;
}
.plink {
  color: var(--ontech-green-3);
}
.plink:hover {
  text-decoration: underline;
}
.article2span2 {
  color: var(--ontech-blue-1);
  font-weight: bold;
}
.boş {
  max-width: 450px;
  margin: 0 10px;
}
@media screen and (max-width: 1000px) {
  section {
    margin: 5em 0;
  }
  article {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .services-article {
    display: flex;
    flex-direction: column;
  }
  .articlep {
    margin-top: 1em;
    min-width: 0;
  }
}
/* media for image */
@media screen and (max-width: 1350px) {
  .boş {
    max-width: 380px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 1100px) {
  .boş {
    max-width: 360px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 896px) {
  .boş {
    max-width: 350px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .boş {
    max-width: 330px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 550px) {
  .boş {
    max-width: 320px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 400px) {
  .boş {
    max-width: 300px;
    margin: 0 10px;
  }
}
/* 
========
FOOTER
========
*/
footer {
  background-color: #011628;
  color: #ebe9ec;
  font-size: 1.1rem;
  padding: 30px;
}
footer > ul > li > i {
  margin-right: 1em;
  font-size: 1.5rem;
}
footer ul li {
  margin: 1em 0;
}
footer ul {
  margin-bottom: 3em;
}
small {
  font-size: 0.8rem;
}
/* keywords  */
.keywords{
  z-index: -100
}
